<navigation></navigation>
<br><br><br><br><br>

<div class="container">
    <!-- for search -->
    <h5>Search</h5>
      <div class="input-group">
         <input type="text" class="form-control" ng-model="main.search" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
      </div>        <!-- search end -->
  <br><br>
    <button type="button" class="btn btn-info" ng-click="main.all()">All Questions</button>
    <button type="button" class="btn btn-danger" ng-click="main.open()">Open Questions</button>
    <button type="button" class="btn btn-success" ng-click="main.close()">Closed Questions</button>
    <a ng-hide="main.admin" ng-href="#/addTicket" ng-click="main.add()" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
            Add Question
    </a>
  <br><br><br>

  <div class="row">
    <div class="col-md-8">
      <!-- for tickets -->
      <div ng-repeat="ticket in main.tickets | filter:main.status | filter:main.search">
          
            <p>
                Ticket ID : <span><u>{{ticket.ticketId}}</u></span>
            </p>
            <div class="card">
            <a ng-href="#/ticket/{{ticket.ticketId}}">
              <h4 class="card-title">{{ticket.title}}</h4>
            </a>
            <p class="card-text">{{ticket.description | limitTo:100}}{{ticket.description.length>100?'...':''}}</p>

          </div>
          <div style="float:right" class="card-footer">
            Status : {{ticket.status}}
          </div>
          <div class="card-footer">
            <span ng-show="main.admin">{{ticket.username}}</span> Posted at {{ticket.created | date:"MMM d, y h:mm a"}}
          </div>
        <hr>
      </div>
    </div>        <!-- tickets end -->
  </div>    <!-- row end -->
</div>    <!-- container end -->