<div class="container">
	<div class="row">
		<div class="heading">
			<h1>Welcome To Support System </h1>
			<h3>Ticket Based Support system</h3>
			<hr/>
		</div>
		<div class="col-md-6 col-lg-6">
			<img src="./../public/imgs/services.png" class="img-responsive" style="width: 150px; height: 100px;">
			<h3>1. Create ticket for an issue and get it solved</br>
			    2. Discuss your query with admin</br>
			    3. Get the solutions for your queries from the admin panel</h3>
		</div>
		<div class="col-md-6 col-lg-6">
		    <form id="login-form" ng-submit="account.login()">
			    <img src="./../public/imgs/login.png" class="img-responsive" style="width: 250px; height: 100px;">
			    <input type="email" id="login_username" ng-model="account.email" placeholder="Email" required class="form-control input-lg"/> 
			    <input type="password" id="login_password" ng-model="account.password" class="form-control input-lg" id="password" placeholder="Password" required="" />
			    <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
			    <div class="form-links">
					<button type="button" id="reg" class="btn btn-info btn-lg" data-toggle="modal" data-target="#reg-modal">Create account</button> or 
					<button type="button" id="forpass" class="btn btn-info btn-lg" data-toggle="modal" data-target="#main-modal">Forgot Password??</button>
				</div>
			</form> 			<!--End form -->					
		</div>
	</div>
</div>		<!--End container -->

		<!-- Modal classes for forgot password and register -->
		<div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" align="center">
						<button type="button" id="close" class="close glyphicon glyphicon-remove" data-dismiss="modal" aria-label="Close">
						</button>
					</div>				<!-- header end -->

					<!-- Form for ForgotPass-->
					<form id="forgot_pass" ng-submit="account.forgotPass()">
						<div class="modal-body">
							<span id="text-lost-msg">Your E-mail:</span>
							<input id="lost_email" ng-model="account.email" class="form-control" type="text" placeholder="E-Mail" required>
							<span id="text-lost-msg">Your New Password:</span>
							<input id="lost_pass" ng-model="account.newPass" class="form-control" type="text" placeholder="New Password" required>
						</div>     <!-- body end -->
						<div class="modal-footer">
							<div>
								<button type="submit" id="lost" class="btn btn-primary btn-lg btn-block">Send</button>
							</div>
							<div>
								<button data-dismiss="modal" type="button" class="btn btn-info">Log In</button>
							</div>
						</div> <!-- End modal footer -->
					</form>   <!-- End form -->
				</div>       
			</div>
		</div>        <!-- End Modal for forgot pass -->

		<!-- Modal for Register-->
		<div class="modal fade" id="reg-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" align="center">
						<button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div> 	<!-- header end -->

					<!-- Register Form start -->
					<form id="register" ng-submit=account.register()>
						<div class="modal-body">
							<div ng-show="account.error">
								<span style="background-color:#4CAF50">{{account.registerMessage}}</span>
							</div>
							<div ng-hide="account.error">
									<span style="background-color:#4CAF50">{{account.registerMessage}}</span>
							</div>
								<input id="register_firstname" ng-model="account.firstName" class="form-control" type="text" placeholder="First Name" required>
								<input id="register_lastname" ng-model="account.lastName" class="form-control" type="text" placeholder="Last Name" required>
								<input id="register_email" ng-model="account.email" class="form-control" type="text" placeholder="E-Mail" required>
								<input id="register_mobile" ng-model="account.mobile" class="form-control" type="text" placeholder="Mobile" required>
								<input id="register_password" ng-model="account.password" class="form-control" type="password" placeholder="Password" required>
						</div>    <!-- header end -->
						<div class="modal-footer">
							<div>
								<button type="submit" id="registerForm" class="btn btn-primary btn-lg btn-block">Register</button>
								<br>			
							</div>
							<div>
								<button data-dismiss="modal" type="button" class="btn btn-info">Log In</button>
							</div>
						</div>				<!-- footer end -->
					</form>		<!-- End Register Form -->
				</div>
			</div>  
		</div>		<!--End Modal -->
	