body{
  max-width: 100%;  
  background-image: url("./../imgs/backmain.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

body,h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  font-family: 'Berkshire Swash', cursive;
  color: white;
}

/* Home page form style*/
form{
    color: #5d5d5d;
    background: #9fbff2;
    padding: 1%;
}
form img {        
    margin: 0 auto;
    margin-bottom: 1%;
}
form input,
form button {
    font-size: 18px;
    margin: 10px 0;
}
form div{
    text-align: center;
    padding-top: 15px;
}
.form-links a {
    color: #032760;
    font-size: 18px;
} /* End form style */
.bt{
  text-align: center;
}
.details{
  padding-left: 5%; 
  padding-bottom: 2%; 
  padding-right: 1%;
}
.chat-body{
  color:black;
}
.card{
padding-left: 6%; 
}
.heading{
    text-align: center;
    padding-top: 2%;
}
.title{
  font-size: 1.5em;
  color: white;
}

/* TopNav style */
.topnav{
  font-size: 16px;
  border-bottom: 1px outset rgba(192,192,192,0.5);
  background: white;    
  box-shadow: 0px 1px rgba(0,0,0,0.3);
}

.topnav ul .navbar-nav li a{
  background: rgba(28,28,28,0.1);
  color: #000;
}

.topnav ul .navbar-nav li a:hover, .topnav ul .navbar-nav li a:focus{
  background: rgba(255,255,255,0.5);
  color: #000;
} 

.topnav .navbar-brand{
  background: rgba(28,28,28,0.0);
  color: #000;
}

.topnav .navbar-brand:hover, .topnav .navbar-brand:focus{
  background: rgba(255,255,255,0.5);
  color: #000;
}

/* Footer style */
footer {
    width: 100%;
    padding: 50px 0 1% 0;
    background-color: transparent;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}

footer #footer-copyright p{
  font-size: 2vmin;
  color: white;
  margin: 11px 0 0;
  font-family: 'Berkshire Swash', cursive;
}

footer #social-networks a{
    font-size: 3vmin;
    color: white;
    padding: 1%;
    transition: 0.2s;
}

footer #social-networks .support:hover{
  color: black;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}